<div class="w-96 h-[90%] bg-white ml-auto mr-auto mt-4 mb-auto rounded-lg flex flex-col items-center px-16 pt-8">
    <div class="select-none font-sans font-bold text-3xl">Register</div>
    <div class="w-full">
        <div class="pl-1 pb-1 pt-5">Email</div>
        <input #email type="text" [value]="userEmail" (input)="updateUserEmail(email.value)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 focus:outline-none focus:border-blue-400">
        <div class="text-red-600 text-xs pl-1">{{ userEmailError }}</div>
    </div>
    <div class="w-full">
        <div class="pl-1 pb-1 pt-2">Username</div>
        <input #name type="text" [value]="userName" (input)="updateUserName(name.value); checkDuplicate(name.value)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 focus:outline-none focus:border-blue-400">
        <div class="text-red-600 text-xs pl-1">{{ userNameError }}</div>
    </div>
    <div class="w-full">
        <div class="pl-1 pb-1 pt-2">Password</div>
        <input #pass type="password" [value]="userPassword" (input)="updateUserPassword(pass.value)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 focus:outline-none focus:border-blue-400">
        <div class="text-red-600 text-xs pl-1">{{ userPasswordError }}</div>
    </div>
    <div class="w-full grow">
        <div class="pl-1 pb-1 pt-2">Confirm Password</div>
        <input #passConf type="password" [value]="userPasswordConf" (input)="checkPasswordConf(passConf.value)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 focus:outline-none focus:border-blue-400">
        <div class="text-red-600 text-xs pl-1">{{ userPasswordConfError }}</div>
    </div>
    <button (click)="onRegisterClick()" type="button"
        class="w-full mt-10 text-white bg-blue-700 focus:outline-none focus:ring-0 hover:bg-blue-800 font-medium rounded-md text-sm py-2.5 block">Register</button>
    <div class="mt-2 mb-8">Already have an account? <span (click)="onLoginClick()"
            class="select-none cursor-pointer text-blue-600">Login</span></div>
</div>