<div class="fixed border-gray-200 bg-gray-900 flex justify-center max-w-full z-10">
    <div class="flex items-center justify-between mx-8 p-2 w-screen">
        <a href="#" class="flex grow items-center">
            <img src="../../../assets/media-player-software.svg" class="h-8 mr-3 z-0" alt="alt" />
            <span class="self-center text-2xl font-semibold text-gray-50">Mdshare</span>
        </a>
        <div class="relative grow w-full mr-60 ml-72">
            <input #searchInput (input)="onInput(searchInput.value)" (focusin)="showResult(searchInput.value)"
                (focusout)="hideResult()" autocomplete="off" type="search"
                class="border-gray-900 border focus:border-gray-600 block w-full p-2 pl-10 text-sm text-gray-50 bg-gray-800 focus:outline-none"
                [ngClass]="{'rounded-lg': !isSearchResultVisible, 'rounded-t-lg': isSearchResultVisible}"
                placeholder="Search user" required>
            <div *ngIf="isSearchResultVisible" [@inOutAnimation]
                class="box-border absolute top-10 w-full border border-gray-600 pb-2 rounded-b-lg bg-gray-900 max-h-[40vh] overflow-y-scroll">
                <app-search-item *ngIf="this.onQuery" [content]="'Searching...'"></app-search-item>
                <app-search-item *ngIf="!searchResult.length && !this.onQuery && searchInput.value.trim() != ''"
                    [content]="'User not found'"></app-search-item>
                <app-search-item *ngFor="let result of searchResult" [content]="result.username"
                    [routerLink]="['user', result.username]"></app-search-item>
            </div>
        </div>

        <div class="relative flex">
            <div *ngIf="currentUser == ''" (click)="onLoginClick()"
                class="duration-200 select-none cursor-pointer block py-2 pl-3 pr-4 rounded hover:text-blue-500 text-white">
                Login</div>
            <div *ngIf="currentUser == ''" (click)="onRegisterClick()"
                class="duration-200 select-none cursor-pointer block py-2 pl-3 pr-4 rounded hover:text-blue-500 text-white">
                Register</div>
            <div *ngIf="currentUser != ''" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()" class="cursor-pointer duration-200 rounded-lg relative box-border p-1 px-4 border border-gray-900 hover:border-gray-700">
                <div class="flex justify-center items-center box-border">
                    <div class="w-8 h-8 bg-white rounded-full mr-4 select-none border-2">
                        <img class="rounded-full" [src]="avatarPath">
                    </div>
                    <div class="text-white select-none">
                        {{ currentUser }}
                    </div>
                </div>
                <div *ngIf="isDropdownVisible" class="h-10 absolute block z-20 right-0 bg-transparent w-full top-8"></div>
                <div *ngIf="isDropdownVisible" [@inOutAnimation]
                    class="overflow-hidden absolute bg-gray-100 top-14 w-full right-0 text-gray-950 rounded-lg shadow-lg z-20">
                    <div (click)="hideDropdown()" [routerLink]="['user', currentUser]"
                        class="hover:bg-gray-200 duration-150 whitespace-nowrap py-2.5 px-5 border-b-2 select-none cursor-pointer text-wrap">
                        My profile</div>
                    <div (click)="logOut()"
                        class="hover:bg-gray-200 duration-150 whitespace-nowrap py-2.5 px-5 border-t-2 select-none cursor-pointer">
                        Log out</div>
                </div>
            </div>
        </div>
    </div>
</div>