<div class="rounded-lg bg-white drop-shadow-lg py-8 px-8">
    <div *ngIf="username && email" class="flex">
        <div
            class="flex flex-col h-44 w-44 drop-shadow-xl bg-white rounded-full border-2 border-blue-400 items-center relative">
            <img [src]="avatarPath" (mouseenter)="showUpdateAvatarTooltip()" (mouseleave)="hideUpdateAvatarTooltip()"
                (click)="toggleCropper()" class="select-none cursor-pointer rounded-full">
            <div *ngIf="isTooltipVisible && isMyProfile"
                class="absolute bg-gray-800 py-1 px-3 text-xs top-44 rounded-lg text-gray-50">
                Update your avatar
            </div>
        </div>
        <div class="flex flex-col justify-center ml-8">
            <div (click)="onUsernameClick()"
                class="duration-200 hover:shadow-blue-500/20 cursor-pointer select-none ml-4 my-2 bg-gray-100 pl-2 pr-12 py-2 rounded-lg shadow-lg">
                Username: {{ username }}</div>
            <div (click)="onEmailClick()"
                class="duration-200 hover:shadow-blue-500/20 cursor-pointer select-none ml-4 my-2 bg-gray-100 pl-2 pr-12 py-2 rounded-lg shadow-lg">
                Email: {{ email }}</div>
        </div>
    </div>
    <div *ngIf="!(username && email)">
        Error
    </div>
    <div class="mt-16 z-0" *ngIf="isCropperVisible">
        <div class="bg-gray-100 rounded-lg drop-shadow-lg max-w-fit mb-4 py-2 px-4 flex flex-col">
            <div class="mb-2">Upload your picture</div>
            <input accept="image/*" class="mb-2" type="file" (change)="onFileChange($event)">
            <button (click)="changeAvatar()" *ngIf="isImageLoaded"
                class="rounded-lg bg-blue-500 text-gray-50 px-4 py-2 hover:bg-blue-700 duration-200">Upload</button>
            <div class="mt-2" *ngIf="!isUploadingDone">Uploading...</div>
        </div>
        <div class="flex flex-col items-center mb-2" *ngIf="isImageLoaded">
            <div>
                Image Preview
            </div>
            <img class="h-44 w-44 rounded-full" [src]="cropImgPreview">
        </div>
        <image-cropper [ngClass]="['cropper']" [roundCropper]="true" [imageChangedEvent]="imgChangeEvent"
            [maintainAspectRatio]="true" [aspectRatio]="1/1" format="png" (imageCropped)="cropImg($event)"
            (imageLoaded)="imgLoad()" (cropperReady)="initCropper()" (loadImageFailed)="imgFailed()" [output]="'blob'">
        </image-cropper>
    </div>
</div>