<div class="rounded-lg bg-white drop-shadow-lg pr-1.5 mb-3 flex overflow-hidden">
    <div class="bg-gray-100 flex flex-col items-center py-8">
        <button (click)="onUpvoteClick()"
            class="mx-2 border border-gray-100 px-2 py-1 rounded mb-2 hover:border-gray-300 active:scale-105 duration-200">
            <fa-icon class="text-lg" *ngIf="vote == -1 || vote == 0" [icon]="upvoteIcon"></fa-icon>
            <fa-icon class="text-orange-600 text-lg" *ngIf="vote == 1" [icon]="upvoteIconActive"></fa-icon>
        </button>
        <div [ngClass]="{ 'text-orange-600': vote == 1, 'text-blue-600': vote == -1 }" class="font-bold text-sm">{{
            karma }}</div>
        <button (click)="onDownvoteClick()"
            class="mx-2 border border-gray-100 px-2 py-1 rounded mt-2 hover:border-gray-300 active:scale-105 duration-200">
            <fa-icon class="text-lg" *ngIf="vote == 1 || vote == 0" [icon]="downvoteIcon"></fa-icon>
            <fa-icon class="text-blue-600 text-lg" *ngIf="vote == -1" [icon]="downvoteIconActive"></fa-icon>
        </button>
    </div>
    <div class="flex flex-col ml-2 py-4 grow pr-4">
        <div *ngIf="isDeletionPromptVisible" class="mb-2 flex">
            <div class="flex flex-wrap text-red-600 font-bold grow">Post deletion is permanent and irreversible. Are you
                sure?</div>
            <button (click)="onDeleteClick()"
                class="text-white px-2.5 bg-green-600 ml-1 hover:bg-green-700 duration-100 rounded-sm active:scale-105">
                <fa-icon [icon]="confirmIcon"></fa-icon>
            </button>
            <button (click)="toggleDeletionPrompt()"
                class="text-white px-3 bg-red-600 ml-1 hover:bg-red-700 duration-100 rounded-sm active:scale-105">
                <fa-icon [icon]="cancelIcon"></fa-icon>
            </button>
        </div>
        <div class="text-gray-400 flex text-xs items-center">
            <div class="mb-1">{{ timestamp }}</div>
        </div>
        <div class="flex items-center">
            <img
                class="w-6 h-6 mr-2 rounded-full select-none cursor-pointer pointer-events-none" [src]="avatar">
            <a target="_blank" class="text-sm select-none cursor-pointer font-bold" [routerLink]="['/user', username]">{{ username }}
            </a>
        </div>
        <div class="mt-2">
            <a [routerLink]="['/post', _id]" class="text-lg font-bold" target="_blank">{{ title }}</a>
        </div>
        <div class="mt-2 flex justify-center border-1 border-black">
            <img *ngIf="fileType == 'picture'" [src]="filePath">
            <video id="video" *ngIf="fileType == 'video'" controls volumn="0.4">
                <source [src]="filePath" type="video/mp4">
            </video>
        </div>
        <button [disabled]="isCommentSectionVisible"
            class="mt-2 self-end hover:bg-gray-200 hover:border-gray-400 px-4 py-1 bg-gray-100 rounded border duration-200 ">
            <a [ngClass]="{ 'pointer-events-none': isCommentSectionVisible}" class="text-xs"
                [routerLink]="['/post', _id]" target="_blank">
                Comments ({{ comments }})
            </a>
        </button>
        <div *ngIf="isCommentSectionVisible" class="flex flex-col mt-4 border-t-2 border-blue-500 pt-4">
            <div class="flex items-center">
                <input #commentInput type="text" [value]="userCommentInput"
                    (input)="updateUserCommentInput(commentInput.value)" (keyup.enter)="postComment()"
                    class="grow bg-gray-100 border rounded-sm px-4 py-2 text-sm outline-none hover:border-blue-500 focus:border-blue-600 duration-200">
                <button (click)="postComment()"
                    class="bg-blue-600 text-white rounded-sm px-4 py-1.5 ml-2 hover:bg-blue-800 duration-200 active:scale-105">
                    <fa-icon [icon]="postCommentIcon"></fa-icon>
                </button>
            </div>
            <div class="flex flex-col mt-2">
                <app-comment *ngFor="let comment of commentsContent" [comment]="comment"
                    [ngClass]="[]">
                </app-comment>
            </div>
        </div>
    </div>
    <fa-icon (click)="toggleDeletionPrompt()" class="text-gray-300 hover:text-gray-400 cursor-pointer duration-100" [icon]="deleteIcon"></fa-icon>
</div>